// 預設變數覆蓋需要在導入Bootstrap之前
$primary: #a8b38b;
// $light:;
// $secondary: #131010;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap';


// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #A8B38B;
  color:#5C6447;
  padding: 10px;
}
.footer.fa, .footer.fas {
  font-weight: 90;
}
